body {
    background-color: papayawhip;
  }
  
.header{
    background-color: peachpuff;
}
a {
    color:  indianred;
  }
h1{
    display:inline-block
}
.head {
    margin-left: 20px;
    font-family: Georgia;
    font-weight: bold;
    color: indianred;
    display: inline-block;
  }
  
.search {
    width: 500px;
    margin-left: 450px;
    margin-right: 300px;
    display: inline-block;
    visibility: hidden;
}
  
h2 {
    margin-left: 330px;
    font-family: Georgia;
    color: indianred;
    font-weight: bold;
    display: inline-block;
}
.inputbox{
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
}

.btn-primary{
    margin-left: 10px;
    background-color: indianred;
    color: papayawhip;
    border-color: indianred;
    display: inline-block;
}
