<app-header-logged></app-header-logged>
<form class='PostBox'>
    <h3>New post</h3>
	<div> 
		<input type="text" class="form-control" id="image" name="image" placeholder="image">
	</div>

	<div> 
		<input type="text" class="form-control" id="description" name="description" placeholder="description">
    </div>
    
	<div> 
		<input type="text" class="form-control" id="tags" name="tags" placeholder="tags">
	</div>
	<div> 
		<button type="submit" class="btn" routerLink="/post/654102">Post</button>
	</div>
</form>	